<div class="container">
    <div class= "text-center mt-4">
      <div>
        <h3 class="panel-title fw-bold">
          {{ "home-page.employee" | translate }}
        </h3>
      </div>
    </div>

    <div class="d-flex flex-lg-row flex-column shadow-lg my-4 fixed-height">
        <div  *ngIf="dataSource"
          class="  child-height bg-white data-table w-100 overflow-scroll"
        >
          <mat-table [dataSource]="dataSource" class=" data-table">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6"> {{ "no" | translate }}. </mat-header-cell>
            <mat-cell *matCellDef="let i = index" > {{ i + 1 }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6" > {{ "employee.full-name" | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">  {{ element.fullName }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nickName">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6" > {{ "employee.nick-name" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.nickName }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nationalId">
            <mat-header-cell *matHeaderCellDef   class="fw-bold fs-6">   {{ "employee.national-id" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{ element.nationalId }}</mat-cell>
          </ng-container>

          <ng-container  matColumnDef="primaryPhoneNo">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6" >   {{ "employee.primrary-phone" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{ element.primaryPhoneNo }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="secondaryPhoneNo">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6" >   {{ "employee.secondary-phone" | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.secondaryPhoneNo }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef class="fw-bold fs-6" >   {{ "employee.address" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{ element.address }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="job">
            <mat-header-cell *matHeaderCellDef  class="fw-bold fs-6"> {{ 'employee.job' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element">  {{ element.job }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">

              <button class="btn table-button" (click)="fetchData(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="btn table-button"
                (click)="openConfirmationDialog(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
          <tr class="mat-row spinner-row" *matNoDataRow>
            <td>
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>
        </mat-table>

          <mat-paginator [length]="totaItem"
            [pageSizeOptions]="[10,5,25,100]"
            (page)="$event;onPaginationChange($event)"
            showFirstLastButtons
            aria-label="Select page"
            class="fw-bold fs-6 d-flex justify-content-center pe-4 me-2 py-3 ">
          </mat-paginator>

        </div>
        <div class="col-lg-4 p-3 bg-light">
            <div class="panel-heading py-4 pt-4 ps-1 d-flex justify-content-between">
              <h3 class="panel-title ms-1">
                {{
                  employeeForm.controls["id"].value
                    ? ("update" | translate)
                    : ("add" | translate)
                }}
                {{ "employee.employee" | translate }}

              </h3>
              <mat-icon
                class="add-icon me-4"
                (click)="restartForm(); isButtonVisible = true"
                [hidden]="isButtonVisible"
                >add</mat-icon
              >
            </div>
            <div>
              <div class="panel-body">
                <form [formGroup]="employeeForm">
                  <fieldset class="row justify-content-center ">
                    <app-input
                    [control]="$any(employeeForm.controls['fullName'])"
                    type="text"
                    inputId="fullName"
                    label="FullName"
                    [required] = "true">
                    </app-input>

                    <app-input
                    [control]="$any(employeeForm.controls['nickName'])"
                    type="text"
                    inputId="nickName"
                    label="NickName"
                    [required] = "true">
                    </app-input>

                    <app-input
                    [control]="$any(employeeForm.controls['nationalId'])"
                    type="text"
                    inputId="nationalId"
                    label="National-ID"
                    [required] = "true"
                    >
                    </app-input>

                    <app-input
                    [control]="$any(employeeForm.controls['address'])"
                    type="text"
                    inputId="address"
                    label="Address"
                    [required] = "true"
                    >
                    </app-input>

                    <app-input
                    [control]="$any(employeeForm.controls['job'])"
                    type="text"
                    inputId="job"
                    label="Job"
                    [required] = "false"
                    >
                    </app-input>
                    <app-input
                    [control]="$any(employeeForm.controls['primaryPhoneNo'])"
                    type="text"
                    inputId="primaryPhoneNo"
                    label="Primary Number"
                    [required] = "true"
                    >
                    </app-input>
                    <app-input
                    [control]="$any(employeeForm.controls['secondaryPhoneNo'])"
                    type="text"
                    inputId="secondaryPhoneNo"
                    label="Secondary Number"
                    [required] = "true"
                    >
                    </app-input>
                  </fieldset>
                </form>
              </div>

              <div class="actions pb-3 float-end">
                <button
                  class="btn me-3 ms-3"
                  (click)="onSubmit()"
                  [disabled]="submit"
                >
                  {{
                    employeeForm.controls["id"].value
                      ? ("update" | translate)
                      : ("add" | translate)
                  }}
                </button>
                <button class="btn" mat-button (click)="resetForm()">
                  {{
                    employeeForm.controls["id"].value
                      ? ("reset" | translate)
                      : ("clear" | translate)
                  }}
                </button>
              </div>
            </div>
          </div>

      </div>

    </div>
